footer{
    text-align:center;
    margin-top: 40px;
}
h2{
    background-color: #4F46E5;
    color: white;
    padding: 10px;
    border-radius:8px;
}
h1{
    text-align: center;
}
img{
    width:100px;
    border:3px solid royalblue;
    border-radius:20px;
    box-shadow:5px5px 15px gray;
}
body{
    background-color:#F8FAFC;
}
